.padre{
    height: 650px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.mTit{
    font-family: 'Bungee Shade', cursive;
}

.miBoton{
    width: 500px;
}

.mspan{
    font-family: 'Black Ops One', cursive;
}

.mbtn1{
    font-family: 'VT323', monospace;
}

.none{
    display: none;
}
.mP{
    width: 75px;
    height: 50px;
}